* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
}

/* HEADINGS */

h1, p {
  color: #fff;
  text-align: center;
  line-height: 1.4;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

.logo {
  font-size: 1rem;
  margin: .5rem;
  padding: .5rem;
  text-decoration: none;
  color:black;
}

.logo:hover {
  
  color:slateblue;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
}

/* NAVIGATION */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.navbar img {
  height: 16px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  
  
  
  
}

.nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  margin: 20px;
  
}


.nav-item a:hover {
  color: slateblue;
}

/* SECTIONS */

.headline {
  width: 100%;
  min-height: 70vh;

  background:slateblue;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline h1,p{
  color: white;
  text-align: left;
  line-height: 1.4;
  margin: 10px 50px 10px 50px;
}



.features {
  width: 80%;
  height: auto;
  background-color: white;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
}

.feature-container {
  flex-basis: 35%;
  margin-top: 10px;
  margin: 10px;
  text-decoration: none;

  
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container img {
  max-width: 300px;
  height: auto;
  margin-bottom: 15px;
}

.feature-container:hover {
  transform: scale(1.08);

}


#biggif {
  max-width: 260px;
  height: auto;
  margin-bottom: 34px;
  margin-top: 34px;
}





  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) { 
  .features {
    flex-direction: column;
    padding: 50px;
  }
  
  /* MOBILE HEADINGS */
  
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  p {
    font-size: 0.8rem;
  }
  

  /* SECTIONS */
  
  .headline {
    height: 20vh;
  }
    
  .feature-container p {
    margin-bottom: 25px;
  }
  
  .feature-container {
    margin-top: 20px;
  }
  
  
  
}